body {
    background-color: rgb(87, 87, 87);
}

#field {
    background-color: rgb(121, 45, 1);
    color:rgb(255, 215, 36);
    padding: 15px;
    width: 800px;
    margin:auto;
}

.blackfield, .whitefield {
	width: 100px;
    height: 100px;
	float: left;
	text-align: center;
	font-size: 100px;
	line-height: 100px;
	user-select: none;
}

.blackfield {
    background-color: black;
    color: wheat;
}

.whitefield {
    background-color: wheat;
    color: black;
}