body {
    background-color: rgb(64, 64, 64);
}

#field {
    background-color: rgb(121, 45, 1);
    color:rgb(255, 215, 36);
    padding: 15px;
    width: 800px;
    margin:auto;
}

.blackfield, .whitefield {
	width: 100px;
    height: 100px;
	float: left;
	text-align: center;
	font-size: 100px;
	line-height: 100px;
	user-select: none;
}

.blackfield {
    background-color: rgb(112, 106, 113);
    color: black;
}

.whitefield {
    background-color: wheat;
    color: black;
}

.winnerBox {
	text-align: center;
	font-family: "Lucida Console", "Courier New", monospace;
	font-weight: bold;
	font-size: 200px;
	color: black;
	background-color: rgb(200, 120, 20);

	position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	border: dashed 8px black;
	border-radius:70px;
	
	display: none;
}